<div style="width: 80%">
    <table class="table">
      <thead>
        <tr>
          <td>Type</td>
          <td>Name</td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
     
          
        


    <tr >
      <td [ngStyle]="{color: foodData.foodType === 'vegitable' ? 'green' : 'red' }" >{{foodData.foodType}}</td>
    
      <td>{{foodData.foodName}}</td>
    
      <td>{{foodData.foodPrice}}</td>
  
   
    
        
        </tr>
       
      </tbody>
      
     
       
      
     
      
    </table>
    
    
    
    
    
    </div>








